<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  Hi, I’m Roman.
  <br /><br />
  I’m a part-time Computer Scientist at <strong>Johns Hopkins Applied Physics Laboratory</strong> and part-time <strong>Master's</strong> student in <strong>CS</strong> at <strong>Columbia University</strong>. I’m curious and always looking to take on new challenges. My passion is using machine learning and artificial intelligence to better understand the world around us and engineer solutions to previously unsolvable problems.
  <br /><br />
  <strong> When I'm not working at the screen</strong>, I’m learning <i>jiu-jitsu</i> and <i>judo</i>, or doing <i>photography</i>.
</div>
