<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  Hi, I’m Roman.
  <br /><br />
  I’m currently working full time as a Computer Scientist at Johns Hopkins Applied Physics Laboratory and pursuing a part-time Master's degree in <strong>CS</strong> at <strong>Columbia University</strong>. I’m curious and always looking to take on new challenges. My passion is learning about the world we live in by transforming information to knowledge to wisdom to action by applying ideas in Maths and <strong>Software Engineering</strong>. Like a detective, I’m always looking for new ways to understand concepts through deductive and inductive means, and I love solving problems. Through this, I desire to positively impact those around my by building solutions and insights to the problems and issues we face.
  <br /><br />
  <strong> When I'm not working at the screen</strong>, I’m either <i>b-boying</i> (breakdancing), learning <i>jiu-jitsu</i>, or catching up on many years of <i>Naruto</i>.
</div>
