<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
  Hi, I’m Roman.
  <br /><br />
  I’m currently a <strong>CS</strong> and <strong>Maths student</strong> in my last year of study at the <strong>University of Virginia</strong>. I’m curious and always looking to take on new challenges. My passion is learning about the world we live in by transforming information to knowledge to wisdom to action by applying ideas in Maths and <strong>Software Engineering</strong>. Like a detective, I’m always looking for new ways to understand concepts through deductive and inductive means, and I love solving problems. Through this, I desire to positively impact those around my by building solutions and insights to the problems and issues we face.
  <br /><br />
  <strong> When I'm not working at the screen</strong>, I’m either <i>b-boying</i> (breakdancing), jammin' out at <i>musical events</i>, watching <i>lesser-known films</i>, or chilling with my turtle, <i>Gerald</i>.
</div>
